/* =================================================================== 
 *
 *  Manage Landing page v1.0 Main Stylesheet
 *  06-10-2018
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  # base style overrides
 *    ## links
 *  # Global styles
 *  # Profits
 *  # Header
 *    ## main navigation
 *    ## button style
 *    ## mobile menu toggle
 *    ## grafics
 *  # About
 *    ## Title content
 *    ## about buttons
 *  # Cards
 *    ## testimonial cards
*   # Footer
*    ## Logo
*    ## Links
*    ## input

 *
 * =================================================================== */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

:root {
  /* Colors Primary */
  --color-primary-one: hsl(12, 88%, 59%);
  --color-primary-two: hsl(228, 39%, 23%);

  /* Colors Neutrals */
  --color-neutral-Dark: hsl(227, 12%, 61%);
  --color-neutral-veryDark: hsl(233, 12%, 13%);
  --color-neutral-paleRed: hsl(13, 100%, 96%);
  --color-neutral-lightGray: hsl(0, 0%, 98%);

  /* Typography */
  --font-primary: "Be Vietnam", sans-serif;
}
/* GLOBAL */
a {
  text-decoration: none;
}
body {
  font-family: var(--font-primary);
}
h1,
h2,
h3,
h4 {
  color: var(--color-primary-two);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* PROFITS */
.text-center {
  text-align: center;
}
.btn-start {
  background: var(--color-primary-one);
  color: var(--color-neutral-lightGray);
  padding: 0.8rem 1.8rem;
  border-radius: 1.25rem;
  font-size: 0.9rem;
}
.btn-start:hover {
  opacity: 0.7;
}
.container {
  width: min(87%, 70rem);
  margin: 0 auto;
}
.btn-m {
  padding-top: 2rem;
}
.text-gray {
  color: var(--color-neutral-Dark);
  line-height: 1.5625rem;
}
.img-bg {
  position: absolute;
  object-fit: contain;
  top: 30rem;
  width: 100%;
}

/* HEADER */
header {
  width: 100%;
  height: auto;
  background-image: url(../img/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position-x: 43rem;
  background-position-y: -6rem;
  background-size: auto 700px;
}
.navbar-menu {
  padding-top: 5rem;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
.navbar-links a {
  color: var(--color-primary-two);
  margin-right: 2rem;
}
.navbar-links a:last-of-type {
  margin-right: 0;
}
.navbar-links a:hover {
  color: var(--color-neutral-Dark);
}
.grid-container {
  display: grid;
  grid-auto-flow: column;
  padding-top: 4rem;
  gap: 5rem;
  position: relative;
}

/* About buttons*/

.btn-small1 {
  padding: 0.7rem 1.5rem;
  background: var(--color-primary-one);
  border-radius: 50px;
  color: var(--color-neutral-lightGray);
  position: absolute;
  right: 28rem;
  top: 5rem;
  outline: none;
  border: none;
}

.btn-small2 {
  padding: 0.7rem 1.5rem;
  background: var(--color-primary-one);
  border-radius: 30px;
  color: var(--color-neutral-lightGray);
  position: absolute;
  right: 28rem;
  top: 15rem;
  outline: none;
  border: none;
}
.btn-small3 {
  padding: 0.7rem 1.5rem;
  background: var(--color-primary-one);
  border-radius: 50px;
  color: var(--color-neutral-lightGray);
  position: absolute;
  right: 28rem;
  top: 25.1rem;
  outline: none;
  border: none;
}

/* Slider */

.slider {
  overflow: hidden;
}

/* Card Testimonial */

.card {
  position: relative;
  width: 400px;
  height: 150px;
  border: 3px solid var(--color-neutral-lightGray);
  background: var(--color-neutral-lightGray);
  margin-top: 2rem;
  padding-top: 1.5625rem;
}

.card p {
  font-size: 0.8125rem;
}

.img-card img {
  max-width: 3.125rem;
  max-height: 3.125rem;
}

.img-card {
  position: absolute;
  top: -1rem;
  left: 11rem;
}

/* Bg pattern */
.bg-pattern {
  position: absolute;
  z-index: -1;
  left: -35rem;
  top: 65rem;
}

/* Banner */
section .banner {
  margin-top: 10rem;
  width: 100%;
  background: url(../img/bg-simplify-section-desktop.svg);
  background-position: top center;
  background-position-y: -12rem;
  background-position-x: 10rem;
}

.banner {
  background: var(--color-primary-one);
  margin-top: 2rem;
  height: 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner div {
  margin-right: 2rem;
  margin-left: 2rem;
}
.banner h1 {
  color: var(--color-neutral-lightGray) !important;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  height: 20rem;
  background: var(--color-neutral-veryDark);
}

.footer-navbar a:first-child {
  padding-top: 0;
}
.footer-navbar a {
  color: var(--color-neutral-lightGray);
}

.footer-links {
  margin-top: 6rem;
}

.footer-links a {
  margin-right: 1rem;
}

.footer-links a:last-of-type {
  margin-right: 0;
}

.navbar-footer {
  display: flex;
  justify-content: space-between;
}

.footer-navbar a {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.footer-navbar2 a {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}
.footer-navbar2 a {
  color: var(--color-neutral-lightGray);
}
.input-contact input {
  border-radius: 3.125rem;
  border: none;
  outline: none;
  height: 3.125rem;
  width: 55%;
  color: var(--color-neutral-Dark);
  font-size: 0.9375rem;
  text-align: center;
}
.btn-go {
  padding: 0.7rem 1.5rem;
  background: var(--color-primary-one);
  border-radius: 30px;
  color: var(--color-neutral-lightGray);
  margin-left: 1rem;
}

.copyright {
  font-size: 0.9375rem;
  margin-top: 4rem;
  margin-left: 3rem;
}

.copyright p {
  color: var(--color-neutral-Dark) !important;
}
.icon-close {
  display: none;
}

/* ==========================================================================
  Media queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media (min-width: 800px) {
  .icon-hamburger {
    display: none;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }
  .navbar-menu {
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  .btn-none{
    display: none;
  }
  
  .navbar-links {
    width: 300px;
    height: 250px;
    background: #fff;
    border-radius: 10px;
    border: 3px solid var(--color-neutral-lightGray);
    position: absolute;
    z-index: 1;
    color: var(--color-primary-two);
    font-weight: bold;
    top: 8rem;
  }
  .navbar-links a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.4rem;
    margin-right: 0;
  }
  .navbar-none {
    display: none;
  }
  .grid-container {
    display: grid;
    grid-auto-flow: row;
    padding-top: 4rem;
    gap: 5rem;
    position: relative;
  }
  .btn-m {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header-grafs img {
    margin: 0 auto;
  }
  .container {
    width: min(70%, 70rem);
    margin: 0 auto;
  }
  .grid-container {
    gap: 3rem;
  }
  .card {
    width: 350px;
    height: 200px;
    margin: 0 auto;
    margin-top: 2rem;
    padding-top: 1.5625rem;
  }
  .img-card {
    position: absolute;
    top: -2rem;
    left: 9.1rem;
  }
  .btn-small1 {
    left: -4rem;
    top: 25.1rem;
  }
  .btn-small2 {
    left: -4rem;
    top: 35rem;
  }
  .btn-small3 {
    left: -4rem;
    top: 44.9rem;
  }
  footer{
    height: auto;
  }
}

@media (max-width: 375px) {

  .grid-container h1 {
    font-size: 2.3rem !important;
    margin: 0 auto;
    text-align: center;
  }
  .grid-container h2 {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
  }
  .grid-container p {
    text-align: center;
  }
  .row-content p {
    text-align: justify;
  }
  .grid-container .row-content h4 {
    text-align: center;
    background: var(--color-neutral-paleRed);
    height: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    padding-left: 1rem;
  }
  .grid-container h4:nth-child(1) {
    padding-left: 0;
  }
  .container {
    width: min(80%, 90rem);
    margin: 0 auto;
  }
  .navbar-menu .icon-hamburger{
  padding-left: 8rem;
  }
  .navbar-menu .btn-none .btn-start{
    display: none;
  }
  .header-grafs img {
    margin: 0 auto;
    width: 300px;
  }
  .bg-pattern {
    position: absolute;
    z-index: -1;
    left: -50rem;
    top: 65rem;
  }
  .btn-small1 {
    left: -1.5rem;
    top: 21.7rem;
  }
  .btn-small2 {
    left: -1.5rem;
    top: 34.3rem;
  }
  .btn-small3 {
    left: -1.5rem;
    top: 47rem;
  }
  br {
    display: none;
  }
  .card {
    width: 340px;
    height: 200px;
    margin: 0 auto;
    margin-top: 2rem;
    padding-top: 1.5625rem;
  }
  .img-card {
    position: absolute;
    top: -2rem;
    left: 9.1rem;
  }
  section .banner{
    background-position: top center;
    background-position-y: -7rem;
    background-position-x: -22rem;
  }

  .banner {
    margin-top: 2rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .banner div {
    margin-right: 1rem;
  }
  .btn-banner {
    margin-bottom: 4rem;
  }
  footer{
    height: auto;
  }
  .logo-footer{
    text-align: center;
  }
  .footer-links{
    margin-top: 1rem;
    text-align: center;
  }
  .footer-links a{
    margin-right: 2rem;
    font-size: 2rem;
  }
  .navbar-footer{
    justify-content: space-around;
  }
  .input-contact input{
    width: 70%;
    font-size: 0.8rem;
    text-align: center;
  }
  .copyright{
    margin-left: 0;
    text-align: center;
  }
  
  
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
